<html lang="pt-br" >
    <head>
        <meta charset="utf-8"/> 
        <title>Bem vindo ao site de noticias</title>
    </head>
    <body>
        <form>
            <h1>Bem vindo</h1>
        </form>
    </body>

</html>

